<title>RentCar | {{pageTitle()}}</title>
<flexi-grid
[data]="data()"
[total]="total()"
[dataBinding]="true"
[loading]="loading()"
language="tr"
[showCaption]="true"
[captionTitle]="captionTitle()"
[customColumns]="columns()"
(dataStateChange)="dataStateChange($event)"
[commandColumnWidth]="commandColumnWidth()"
[showIndex]="showIndex()"
[sort]="sort()"
[filter]="filter()"
[reorderable]="reorderable()"
(onReorder)="onReoderMethod($event)"
>
    <ng-template flexiGridCaptionCommandTemplate>
        @if(commandTemplateRef() !== undefined){
            <ng-container *ngTemplateOutlet="commandTemplateRef()!;"></ng-container>
        }
        @if(checkPermission(addOptions().permission)){
          <flexi-button
            btnColor="primary"
            btnIcon="add"
            title="Ekle"
            flexiTooltip
            (click)="navigate(this.addOptions().url)" />
        }
    </ng-template>

    <ng-content />

    @if(showAudit()){
      @if(showIsActive()){
        <flexi-grid-column
          field="isActive"
          title="Aktif Mi?"
          filterType="boolean"
          [booleanData]="['Aktif', 'Pasif']"
          textAlign="center" />
      }
        <flexi-grid-column
          field="createdAt"
          title="Olu&#351;turulma Tarihi"
          filterType="date-time"
          format="dd MMM yyyy HH:mm:ss"
          width="220px" />
        <flexi-grid-column field="createdFullName" title="Olu&#351;turan" />
       <flexi-grid-column
          field="updatedAt"
          title="G&#252;ncelleme Tarihi"
          filterType="date-time"
          format="dd MMM yyyy HH:mm:ss" />
        <flexi-grid-column field="updatedFullName" title="G&#252;ncelleyen" />
    }

    <ng-template flexiGridColumnCommandTemplate let-item>
        @if(columnCommandTemplateRef() !== undefined){
            <ng-container *ngTemplateOutlet="columnCommandTemplateRef()!; context:{ $implicit: item }">
            </ng-container>
        }

        @if(checkPermission(detailOptions().permission)){
          <flexi-button
            btnColor="indigo"
            btnIcon="zoom_in"
            title="Detay"
            btnSize="small"
            flexiTooltip
            (click)="navigate(this.detailOptions().url,item.id)" />
        }
        @if(checkPermission(editOptions().permission)){
          <flexi-button
            btnColor="info"
            btnIcon="edit"
            title="G&#252;ncelle"
            btnSize="small"
            flexiTooltip
            (click)="navigate(this.editOptions().url,item.id)" />
        }
        @if(checkPermission(deleteOptions().permission)){
          <flexi-button
             btnColor="danger"
             btnIcon="delete"
             title="Sil"
             btnSize="small"
             flexiTooltip
             (click)="delete(item.id)" />
        }
    </ng-template>
</flexi-grid>
